
<div class="card col-9">
    <div style="margin-left:20px ;">
    <h5><p  >Vanar Sena Monthly Dashboard</p></h5>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>
</div>
<!--
<div class="card col-3">
    <h5>Horizontal</h5>
    <p-chart type="bar" [data]="basicData" [options]="horizontalOptions"></p-chart>
</div>
<div class="card col-3">
    <h5>Multi Axis</h5>
    <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
</div>

<div class="card col-3">
    <h5>Stacked</h5>
    <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
</div>
-->